# dependencies
node_modules

# build output
dist
dist-ssr
*.tsbuildinfo

# local env files
.env
.env.local
.env.*.local

# firebase
.firebase
firebase-debug.log
*-debug.log

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
*.local
